{
  "extends": "airbnb/legacy",
  "rules": {
    "comma-dangle": [2, "never"],
    "global-require": "warn",
    "id-length": [2, {"exceptions": ["i", "j"]}],
    "no-param-reassign": [2, { "props": false }],
    "no-underscore-dangle": "warn",
    "strict": [2, "global"]
  }
}
